<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Créer un candidat</title>
</head>

<body>
    <h1>Créer un candidat :</h1>
    <form action="/post_create/" method="POST">
        {% csrf_token %}
        Nom:
        <input type="text" name="name">
        Nom de famille :
        <input type="text" name="nickname">
        Modalité d'examen: 
        <select name="modalite" placeholder="Modalité d'examen">
            <option value="Situation réelle">Situation réelle</option>
            <option value="Examen différé">Examen différé</option>
        </select>
        <input type="submit" value="Envoyer">
    </form>
</body>

</html>