<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des candidats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        margin: 10px;
    }
    .table {
        width: 92%;
    }
</style>
<body>
    <h1>Liste des candidats :</h1>
    {% csrf_token %}

    <br>
    <table class="table table-bordered" style="margin: 30px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Clé</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Modalités examen</th>
                <th scope="col">Action</th>
        </thead>
        </tr>
        {% for users in data %}
        <tr>
            <td>{{ users.clé }}</td>
            <td>{{ users.nom }}</td>
            <td>{{ users.nom_famille }}</td>
            <td>{{ users.modalite }}</td>
            <td>
            {# <a href="/profil/{{ key_id }}/">Voir</a> #}
            <p><a href="{% url 'profil' users.clé %}" >Consulter la fiche du candiats</a></p>
            </td>
            {# <td>{% url 'profil' key_id %}</td> #}
        </tr>
        {% endfor %}
    </table>
</body>

</html>