<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des candidats</title>
</head>

<body>
    <h1>Liste des candidats :</h1>
    {# {% csrf_token %}
    {% for users in data %}
        {% if  users.clé  ==  key_id %}
            <p>{{ users.nom }}</p>
        {% endif %}
    {% endfor %} #}
</body>

</html>
