<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% csrf_token %}
    Welcome {{e}}
    <br>
    <button type="button" onclick="location.href='{% url 'create' %}'">Rentrer nouveau candidat</button>
    <button type="button" onclick="location.href='{% url 'liste' %}'">Consulter liste des candidats</button>
</body>

</html>